<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../style/common.css">
        <script src="../../vue.js"></script>
    </head>
    <body>
        <!-- 计算属性 -->
        <div id="app" class="demo">
            <input type="number" v-model="value1">
            +
            <input type="number" v-model="value2">
            = {{result}}
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el: "#app",
                data: {
                    value1: 0,
                    value2: 0
                },
                computed: {
                    result: function(){
                        return parseInt(this.value1) + parseInt(this.value2);
                    }
                }
            })
        </script>

        <!-- watch监听 -->
        <div id="app2" class="demo">
            <input type="number" v-model="value1">
            +
            <input type="number" v-model="value2">
            = {{result}}
        </div>
        <script type="text/javascript">
            var app2 = new Vue({
                el: "#app2",
                data: {
                    value1: 0,
                    value2: 0,
                    result: 0
                },
                watch: {
                    value1: function (val) {
                        this.result = parseInt(val) + parseInt(this.value2);
                    },
                    value2: function (val) {
                        this.result = parseInt(this.value1) + parseInt(val);
                    }
                }
            })
        </script>

        <!-- 深度watcher -->
        <div id="app3">
            名称： {{ user.name }}，
            年龄： {{ user.age }}，
            作者： {{ user.author }}
        </div>
        <script type="text/javascript">
            var app3 = new Vue({
                el: "#app3",
                data: {
                    user: {
                        name: "秦时明月",
                        age: 10,
                        author: "玄机科技"
                    }
                },
                watch: {
                    user: {
                        handler: function(val, oldVal){
                            alert("监听到了user对象数据的变化了");
                        },
                        deep: true
                    }
                }
            })
            app3.user.name = "秦时明月"; //设置的值一样，不会执行监听
            app3.user.age = 30; //可以监听到数据变化 
        </script>

        <div id="shop-search" class="demo">
            <input type="text" v-model="searchKey" placeholder="请输入任意关键字">
            <ul>
                <li v-for="item in resultData">{{ item }}</li>
            </ul>
        </div>
        <script type="text/javascript">
            var shopSearch = new Vue({
                el: "#shop-search",
                data: {
                    //搜索关键字
                    searchKey: "",
                    //搜索结果
                    resultData: []
                },
                watch: {
                    searchKey: function() {
                        const vm = this;
                        vm.getResultData(true).then((data) => {
                            vm.resultData = data;
                        })
                    }
                },
                methods: {
                    getResultData: function(ready) {
                        const vm = this;
                        return new Promise((resolve, reject) => {
                            if (ready) {
                                const data = [
                                    vm.searchKey,
                                    vm.searchKey + vm.searchKey,
                                    vm.searchKey + vm.searchKey + vm.searchKey
                                ];
                                resolve(data);
                                } else {
                                reject("filed");
                            }
                        })
                    }
                }
            })
        </script>
    </body>
</html>
