<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../style/common.css">
        <script src="../../vue.js"></script>
    </head>
    <body>
        <!-- 计算属性 -->
        <div id="app" class="demo">
            <input type="number" v-model="value1">
            +
            <input type="number" v-model="value2">
            = {{result}}
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el: "#app",
                data: {
                    value1: 0,
                    value2: 0
                },
                computed: {
                    result: function(){
                        return parseInt(this.value1) + parseInt(this.value2);
                    }
                }
            })
        </script>
    </body>
</html>
